  img.displayed {
    display: block;
    margin: 0 auto; }

  .border {
    border-width: 1px;
    border-color: #778899;  /* dark grayish blue */
    border-style: solid; }

    img {
      max-width: 100%
    }
    .image {
      flex-basis: 40%;
    }
    .text {
      font-size: 20px;
      padding-left: 20px;
    }
* {
  box-sizing: border-box;
  margin-left:15px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

body {
  font-family: Bahnschrift, "Avenir Next", Calibri, Verdana, sans-serif;
}

div {
  float: left; 
}
  
.border {
  border-width: 1px;
  border-color: #778899;
  border-style: solid; 
}

h1  {
  font-family: Inter, Georgia, Bahnschrift, sans-serif, Consolas;
  text-align: center;
  font-size: 21px; 
}
h2 {
  font-family: Inter, Georgia, Bahnschrift, sans-serif, Consolas;
  color: darkgreen;
  font-size: 18px;
  text-align: left; 
  margin-right: 23px;
  margin-left: 5px; 
}
h3 {
  font-family: Inter, Georgia, Bahnschrift, sans-serif, Consolas;
  font-size: 17px;
}
h4 {
  font-family: Inter, Georgia, Bahnschrift, sans-serif, Consolas;
  font-size: 16px;
}
h5 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: black;
  font-size: 15px;
  text-align: left;
  margin-left: 5px; 
}
h6 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: black;
  font-size: 13px;
  text-align: left; 
  margin-left: 5px; 
}
h7 {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  color: black;
  font-size: 11px;
  text-align: left; 
  margin-left: 5px; 
}

background: linear-gradient(45deg, red 0 50%, blue 50% 100%);

body {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  font-size: 1.2em;
  text-align: left;
  padding: 10px
  background-color: #eeeeee;  /* very light gray */
  color: #000000;  /* black */
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: #8b0000;  /* dark red */
  color: #fdfeff;  /* very pale (mostly white) blue */
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
}

#myBtn:hover {
  background-color: #555;  /* very dark gray */
}

ul li {
  padding: 10px;
  line-height:110%;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVue Sans Mono";
}
ol li {
  padding: 10px;
  line-height:110%;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVue Sans Mono";
}

p { 
  font-size: 14.5px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  text-align: left;
  margin-left: 15px;  /* 10px */
}

