.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.segment {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 100px;
}

.twelve {
    background-color: lightseagreen;
    grid-column: 1 / span 12;
}

.eight {
    background-color: bisque;
    grid-column: 5 / span 8;
}

.four {
    background-color: lightblue;
    grid-column: 1 / span 4;
}

.six {
    background-color: lightsteelblue;
    grid-column: 5 / span 6;
}

.seven {
    background-color: lightcoral;
    grid-column: 3 / span 7;
}